#search_id {
    margin-top: 3%;
}

#shift-right {
    margin-right: 1%;
}

.audio {
    width: 95%;
    height: 30px;
    margin-left: 2%;
    background-color: slategrey;
}

.div-audio-wrapper {
    width: 65%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 10px;
    background-color: slategrey;
}

.audio-title {
    margin-bottom: 0;
    margin-left: 4%;
    font-size: 11pt;
    font-weight: 700;
    color: white;
}